/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  NGI-ChIPseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {
  standard {
    includeConfig 'conf/uppmax.config'
  }
  devel {
    includeConfig 'conf/uppmax-devel.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
}

manifest {
  homePage = 'https://github.com/SciLifeLab/NGI-ChIPseq'
  description = 'NGI-ChIPseq is a bioinformatics best-practice analysis pipeline used for ChIP-seq (chromatin immunoprecipitation sequencing) data analysis at the National Genomics Infastructure at SciLifeLab Stockholm, Sweden.'
}