/*
 * -------------------------------------------------
 *  nf-core/chipseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */


// Global default params, used in configs
params {
  container = 'nfcore/chipseq:latest' // Container slug. Stable releases should specify release tag!

  reads = "data/*{1,2}*.fastq.gz"
  readPaths = false
  macsconfig = "data/macsconfig"
  multiqc_config = "$baseDir/conf/multiqc_config.yaml"
  extendReadsLen = 100
  notrim = false
  allow_multi_align = false
  skipDupRemoval = false
  singleEnd = false
  saveReference = false
  saveTrimmed = false
  saveAlignedIntermediates = false
  saturation = false
  broad = false
  largeRef = false
  blacklist_filtering = false
  seqCenter = false
  outdir = './results'
  igenomes_base = "./iGenomes"
  email = false
  plaintext_email = false
  // TODO: Remove this if/when we can. See https://github.com/nextflow-io/nextflow/issues/840
  pipelineVersion = '1.0'
}

profiles {

  standard {
    includeConfig 'conf/base.config'
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
  uppmax {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/igenomes.config'
  }
  uppmax_modules {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/uppmax-modules.config'
    includeConfig 'conf/igenomes.config'
  }
  uppmax_devel {
    includeConfig 'conf/base.config'
    includeConfig 'conf/uppmax.config'
    includeConfig 'conf/uppmax-devel.config'
    includeConfig 'conf/igenomes.config'
  }
  test {
    includeConfig 'conf/base.config'
    includeConfig 'conf/test.config'
    includeConfig 'conf/igenomes.config'
  }
  aws {
    includeConfig 'conf/base.config'
    includeConfig 'conf/aws.config'
    includeConfig 'conf/igenomes.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/nfcore-chipseq_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/nfcore-chipseq_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/nfcore-chipseq_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/nfcore-chipseq_DAG.svg"
}

manifest {
  name = 'nf-core/chipseq'
  description = 'Analysis pipeline used for ChIP-seq (chromatin immunoprecipitation sequencing) data'
  homePage = 'https://github.com/nf-core/chipseq'
  // TODO: Define only here if/when we can. See https://github.com/nextflow-io/nextflow/issues/840
  pipelineVersion = params.pipelineVersion
  mainScript = 'main.nf'
  nextflowVersion = '>=0.31.1'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
