/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 2,
        memory: '8.GB',
        time: '6.h'
    ]
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/chipseq'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
