/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */



process {
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  // Process specific configuration
  $fastqc {
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
  $trim_galore {
    time = { check_max( 8.h * task.attempt, 'time' ) }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
  }
  $bwa{
    cpus = { check_max( 8 * task.attempt, 'cpus' ) }
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    time = { check_max( 48.h * task.attempt, 'time' ) }
  }
  $samtools {
    time = { check_max( 120.h * task.attempt, 'time' ) }
  }
  $picard {
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
  $countstat {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  $phantompeakqualtools {
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
  $calculateNSCRSC {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  $deepTools {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 120.h * task.attempt, 'time' ) }
  }
  $ngsplot {
    time = { check_max( 120.h * task.attempt, 'time' ) }
  }
  $macs {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
  $multiqc {
    executor = 'local'
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'ignore' }
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}
