/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

docker {
  enabled = true
}
process {
  container = 'scilifelab/ngi-chipseq'
  // Not sure that this always works. May be better to config this manually.
  cpus = $executor.cpus
  memory = $executor.memory
  time = 48.h
}
