/*
 * -------------------------------------------------
 *  Nextflow config file for running on GCP 
 * -------------------------------------------------
 * Base config needed for running with -profile gcpbatch
 */
 
 cloud {
    driver = 'google'
    imageId = 'debian-9-stretch-v20191014'
    instanceType = 'n1-highcpu-8'
    keyFile = ''
}

google {
    project = params.projectname
    zone = params.zone
}
