/*
 * -------------------------------------------------
 *  Nextflow config file for module specific-options
 * -------------------------------------------------
 */
params {
    modules {
        'check_samplesheet' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'fastqc' {
            args             = "--quiet"
            suffix           = ""
            publish_dir      = "fastqc"
            publish_results  = "all"
        }
        'trimgalore' {
            args             = "--fastqc"
            suffix           = ""
            publish_dir      = "trim_galore"
            publish_results  = "all"
        }
        'bwa_index' {
            args             = "-a bwtsw"
            suffix           = ""
            publish_dir      = "genome/bwa_index"
            publish_results  = "all"
        }
        'gtf2bed' {
            args             = ""
            suffix           = ""
            publish_dir      = "genome"
            publish_results  = "all"
        }
        'make_genome_filter' {
            args             = ""
            suffix           = ""
            publish_dir      = "genome"
            publish_results  = "all"
        }
        'get_chrom_sizes' {
            args             = ""
            suffix           = ""
            publish_dir      = "genome"
            publish_results  = "all"
        }
        'bwa_mem' {
            args             = "-M"
            args2            = "-h -F 0x0100 -O BAM"
            suffix           = ".Lb"
            publish_dir      = "bwa/library"
            publish_results  = "all"
        }
        'samtools_sort_lib' {
            args             = ""
            suffix           = ".Lb.sorted"
            publish_dir      = "bwa/library"
            publish_results  = "all"
        }
        'picard_mergesamfiles' {
            args             = "SORT_ORDER=coordinate VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix           = ".mLb.sorted"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'picard_markduplicates' {
            args             = "ASSUME_SORTED=true REMOVE_DUPLICATES=false VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix           = ".mLb.mkD"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'samtools_sort_merged_lib' {
            args             = ""
            suffix           = ".mLb.mkD.sorted"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'filter_bam' {
            args             = ""
            suffix           = ".mLb.flT.sorted"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'remove_bam_orphans' {
            args             = "--only_fr_pairs"
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'samtools_sort_filter' {
            args             = ""
            suffix           = ".mLb.clN.sorted"
            publish_dir      = "bwa/mergedLibrary"
            publish_results  = "all"
        }
        'picard_collectmultiplemetrics' {
            args             = "VALIDATION_STRINGENCY=LENIENT TMP_DIR=tmp"
            suffix           = ".mLb.clN.sorted"
            publish_dir      = "bwa/mergedLibrary/picard_metrics"
            publish_results  = "all"
        }
        'preseq_lcextrap' {
            args             = "-verbose -bam -seed 1"
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/preseq"
            publish_results  = "all"
        }
        'phantompeakqualtools' {
            args             = ""
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/phantompeakqualtools"
            publish_results  = "all"
        }
        'bedtools_genomecov' {
            args             = ""
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/bigwig"
            publish_results  = "all"
        }
        'ucsc_bedgraphtobigwig' {
            args             = ""
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/bigwig"
            publish_results  = "all"
        }
        'deeptools_computematrix' {
            args             = "scale-regions --regionBodyLength 1000 --beforeRegionStartLength 3000 --afterRegionStartLength 3000 --skipZeros --smartLabels"
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/deeptools"
            publish_results  = "all"
        }
        'deeptools_plotprofile' {
            args             = ""
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/deeptools"
            publish_results  = "all"
        }
        'deeptools_plotheatmap' {
            args             = ""
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/deeptools"
            publish_results  = "all"
        }
        'deeptools_plotfingerprint' {
            args             = "--skipZeros"
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/deeptools"
            publish_results  = "all"
        }
        'macs2_callpeak' {
            args             = "--keep-dup all"
            suffix           = ""
            publish_dir      = "bwa/mergedLibrary/macs2"
            publish_results  = "all"
        }
        'homer_annotatepeaks_macs2' {
            args             = "-gid"
            suffix           = ".mLb.clN"
            publish_dir      = "bwa/mergedLibrary/macs2"
            publish_results  = "all"
        }
        'get_software_versions' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'output_documentation' {
            args             = ""
            suffix           = ""
            publish_dir      = "pipeline_info"
            publish_results  = "all"
        }
        'multiqc' {
            args             = ""
            suffix           = ""
            publish_dir      = "multiqc"
            publish_results  = "all"
        }
    }
}
