/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */
params {
  // Used if indexes not specified on command line
  download_fasta = 'ftp://ftp.ensembl.org/pub/release-75/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa.gz'
}

docker {
  enabled = true
}
process {
  container = 'ewels/ngi-chipseq'
  executor = 'local'
  cpus = 2
  memory = 7.GB
  time = 48.h
}
