/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/chipseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input       = params.pipelines_testdata_base_path + 'chipseq/samplesheet/v2.1/samplesheet_test.csv'
    read_length = 50

    // Genome references
    fasta = params.pipelines_testdata_base_path + 'atacseq/reference/genome.fa'
    gtf   = params.pipelines_testdata_base_path + 'atacseq/reference/genes.gtf'

    // For speed to avoid CI time-out
    fingerprint_bins = 100

    // Avoid preseq errors with test data
    skip_preseq = true
}
