/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  fingerprintBins = 100 // for speed
  readPaths = [
    ['SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k', ['https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k_R2.fastq.gz']],
    ['SRR5204808_Spt5-ChIP_IP2_SacCer_ChIP-Seq_ss100k', ['https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204808_Spt5-ChIP_IP2_SacCer_ChIP-Seq_ss100k_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204808_Spt5-ChIP_IP2_SacCer_ChIP-Seq_ss100k_R2.fastq.gz']],
    ['SRR5204809_Spt5-ChIP_Input1_SacCer_ChIP-Seq_ss100k', ['https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204809_Spt5-ChIP_Input1_SacCer_ChIP-Seq_ss100k_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204809_Spt5-ChIP_Input1_SacCer_ChIP-Seq_ss100k_R2.fastq.gz']],
    ['SRR5204810_Spt5-ChIP_Input2_SacCer_ChIP-Seq_ss100k', ['https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204810_Spt5-ChIP_Input2_SacCer_ChIP-Seq_ss100k_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204810_Spt5-ChIP_Input2_SacCer_ChIP-Seq_ss100k_R2.fastq.gz']]
  ]
  // Genome references
  fasta = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genome.fa'
  macsconfig = 'https://github.com/nf-core/test-datasets/raw/chipseq/macsconfig.txt'
  macsgsize = "9.7e6"
  gtf = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genes.gtf'
  bed = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genes.bed'
}
