/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * --------------------------------------------------------
 *  Nextflow config file for automated testing with Travis
 * --------------------------------------------------------
 */

docker {
  enabled = true
}
process {
  container = wf_container
  cpus = 2
  memory = 7.GB
  time = 48.h
}
