/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  genome = 'EF4'
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  readPaths = [
    ['SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k_R1', ['https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k_R1.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/chipseq/testdata/SRR5204807_Spt5-ChIP_IP1_SacCer_ChIP-Seq_ss100k_R2.fastq.gz']]
  ]
  // Genome references
  fasta = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genome.fa'
  macsconfig = 'https://github.com/nf-core/test-datasets/raw/chipseq/macsconfig.txt'
}
