name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  NXF_ANSI_LOG: false

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    name: Run pipeline with test data
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/chipseq') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "24.04.2"
          - "latest-everything"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Run pipeline with test data (docker)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results

      - name: Run pipeline with test data (singularity)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,singularity --outdir ./results
        if: "${{ github.base_ref == 'master' }}"

      - name: Run pipeline with test data (conda)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,conda --outdir ./results
        if: "${{ github.base_ref == 'master' }}"

  parameters:
    name: Test workflow parameters
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/chipseq') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        parameters:
          - "--skip_trimming"
          - "--skip_consensus_peaks"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Disk space cleanup
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1

      - name: Run pipeline with various parameters (docker)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --outdir ./results ${{ matrix.parameters }}

      - name: Run pipeline with various parameters (singularity)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,singularity --outdir ./results ${{ matrix.parameters }}
        if: "${{ github.base_ref == 'master' }}"

      - name: Run pipeline with various parameters (conda)
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,conda --outdir ./results ${{ matrix.parameters }} 
        if: "${{ github.base_ref == 'master' }}"

        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker ${{ matrix.parameters }} --outdir ./results

  aligners:
    name: Test available aligners
    if: ${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'nf-core/chipseq') }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        aligner:
          - "bowtie2"
          - "chromap"
          - "star"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@v2

      - name: Install Nextflow
        run: |
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/

      - name: Run pipeline with the different aligners available
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker --aligner ${{ matrix.aligner }} --outdir ./results
